# This file defines a strict ownership of files.
# It can be used to automatically request reviews.

# Default owner for everything
* @Start-Zee

# Backend owners
/cloud-functions/ @Start-Zee
/firebase.json @Start-Zee
/firestore.rules @Start-Zee

# Frontend owners
/app/ @Start-Zee

# Documentation
/docs/ @Start-Zee
/*.md @Start-Zee
