rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && request.auth.uid == userId;
      // Only admin custom claim can write roles
      allow update: if request.auth.token.admin == true;
    }
    match /clubs/{clubId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.token.admin == true; // admin should create clubs
      allow update, delete: if request.auth != null && request.auth.token.admin == true;
    }
    match /events/{eventId} {
      allow read: if true;
      allow create: if request.auth != null && (request.auth.token.admin == true || request.auth.token.club == true);
      allow update, delete: if request.auth != null && (request.auth.token.admin == true || request.auth.uid == resource.data.ownerId);
    }
    match /reminders/{rid} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    match /admin/{doc} {
      allow read, write: if request.auth != null && request.auth.token.admin == true;
    }
  }
}
